html
{
    touch-action: manipulation !important;
}

body
{
    background-color: black !important;
}
h1
{
    color: black;
    font-size: 60px;
    margin:0px;
}

button
{
    background-color: rgb(252, 147, 86);   
    margin : 20px 30px;
    border-radius: 8px;
    height: 180px;
    width: 210px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px;
    color: black;  
    box-shadow: 0 18px 16px 0 rgba(182, 156, 156, 0.2), 0 16px 30px 0 rgba(185, 166, 166, 0.19);
}

.header
{
    padding:0px;
    background-color: rgb(252, 147, 86);   
    width: 100%;
}

#text2prob,#text1
{
    color:white;
    font-size: 50px;
}

#text2name
{
    color:white;
    font-size:40px
}

